<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">User profile</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="password">Username</label>
            <input type="text"
                   class="form-control rounded-0"
                   required
                   value={{profile.username}}
                   name="username"
                   disabled>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text"
                   class="form-control rounded-0"
                   required
                   [(ngModel)]="profile.password"
                   name="password">
          </div>
          <button type="button"
                  class="btn btn-primary float-left"
                  (click)="update()">Update password</button>
          <button type="button"
                  class="btn btn-danger float-right"
                  (click)="delete()">Delete profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
