<div [ngClass]="setClasses()">
  <p>
    <input (change)="onToggle(note)" type="checkbox" [checked]="note.completed" />
    {{ note.text }}
    <button (click)="onDelete(note)" class="del">X</button>
  </p>
</div>
