
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Notes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <a class="nav-link"  *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link"  *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link"  *ngIf="authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile info</a>
        <a class="nav-link"  *ngIf="authService.loggedIn()" (click)="authService.logout()" style="cursor:pointer;">Logout</a>
    </ul>
  </div>
</nav>    
<div class="container">
  <router-outlet></router-outlet>            
</div>