<form class="form my-4" (ngSubmit)="onSubmit()">
  <input type="text" name="title" [(ngModel)]="text" placeholder="Add Note...">
  <input type="submit" value="Submit" class="btn btn-primary ml-1">
</form>
